#brand-logo {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rock Salt', cursive; }

footer p {
  margin: 1em auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }

#side-nav {
  margin-top: 2em; }

#container-main {
  margin-top: 3.5em;
  margin-bottom: 3.5em; }

#order-price {
  font-size: 1em; }

#greeting {
  margin-top: 2em; }

#order-buttons {
  margin: 2em auto; }

@keyframes hide-tr {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%; }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%; }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px; } }
.order-item {
  animation-name: hide-tr;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-play-state: paused; }

.custom-gradient{
  background-color: #dc3737;
  background-image:
  linear-gradient(
      to right, 
      #ffd552, 
      #fd8065,
      #dc3737
  );
}

.paper {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
      /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
}

.centerize{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.arrange-cards{
  justify-content: space-between;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.menu-card{
  margin: 20px;
}

.menu-headder{
  font-weight: 600;
}

:root {
  --gutter: 20px;
}

.horizontal-scroll-container {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.horizontal-scroll-container > * {
  grid-column: 2 / -2;
}

.horizontal-scroll-container > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px repeat(100, calc(20% - var(--gutter) * 1)) 10px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.5 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
}

.alert{
  width: 500px;
  margin: 20px auto 20px auto;
  text-align: center;
}

.total-price{
  margin: 100px auto 0 auto;
}
